package ${packageName};

import java.util.List;
import ${entityPackageName}.${entityName};

/**
 * ${daoName}
 *
 * @author ${user}
 * @date ${now}
 */
public interface ${daoName} {

    int deleteByPrimaryKey(${primaryKey.javaType} ${primaryKey.firstLowercaseName});

    int insert($firstUppercaseName record);

    int insertSelective($firstUppercaseName record);

    $firstUppercaseName selectByPrimaryKey(${primaryKey.javaType} ${primaryKey.firstLowercaseName});

    int updateByPrimaryKeySelective($firstUppercaseName record);

    int updateByPrimaryKey($firstUppercaseName record);
}