<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="${daoPackageName}.${daoName}" >

##如果不是最后一个元素，就添加逗号
#macro(next)
#if($foreach.hasNext),#end
#end
##循环第一个元素缩进4个空格
#macro(firstLockIn)
#if($velocityCount == 1)    #end
#end
##换行
#macro(nextLine)

#end
##缩进
#macro(LockIn4)    #end
#macro(LockIn8)        #end
##设置表名变量别名
#set($tableName = $name)

  <resultMap id="BaseResultMap" type="${entityPackageName}.${entityName}" >
    <result column="${primaryKey.name}" property="${primaryKey.name}" jdbcType="${primaryKey.dataType}" />
#foreach($i in $columns)
	<result column="${i.name}" property="${i.name}" jdbcType="${i.dataType}" />
#end
  </resultMap>

  <sql id="Base_Column_List" >
    ${primaryKey.name},#foreach($i in $columns)${i.name}#next()#end#nextLine()
  </sql>
 
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="${primaryKey.javaType}" >
    select
    <include refid="Base_Column_List" />
    from $tableName
    where ${primaryKey.name} = #{${primaryKey.name},jdbcType=${primaryKey.dataType}}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="${primaryKey.javaType}" >
    delete from $tableName
    where id = #{${primaryKey.name},jdbcType=${primaryKey.dataType}}
  </delete>

  <insert id="insert" parameterType="${entityPackageName}.${entityName}" >
    insert into $tableName (<include refid="Base_Column_List" />)
    values (
#LockIn8()#{${primaryKey.name},jdbcType=${primaryKey.dataType}},
#foreach($i in $columns)
#LockIn8()#{${i.name},jdbcType=${i.dataType}}#next()#nextLine()
#end
    )
  </insert>

  <insert id="insertSelective" parameterType="${entityPackageName}.${entityName}" >
    insert into $tableName
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="${primaryKey.name} != null" >
        ${primaryKey.name},
      </if>
#foreach($i in $columns)
      <if test="$i.name != null" >
        $i.name,
      </if>
#end
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="${primaryKey.name} != null" >
        #{${primaryKey.name},jdbcType=${primaryKey.dataType}},
      </if>
#foreach($i in $columns)
      <if test="$i.name != null" >
        #{$i.name,jdbcType=$i.dataType},
      </if>
#end
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="${entityPackageName}.${entityName}" >
    update $tableName
    <set>
#foreach($i in $columns)
      <if test="${i.name} != null" >
        ${i.name} = #{${i.name},jdbcType=${i.dataType}},
      </if>
#end
    </set>
    where ${primaryKey.name} = #{${primaryKey.name},jdbcType=${primaryKey.dataType}}
  </update>

  <update id="updateByPrimaryKey" parameterType="${entityPackageName}.${entityName}" >
    update $tableName
    set
#foreach($i in $columns)
      ${i.name} = #{${i.name},jdbcType=${i.dataType}}#next()#nextLine()
#end
    where ${primaryKey.name} = #{${primaryKey.name},jdbcType=${primaryKey.dataType}}
  </update>
</mapper>