<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zanpo.it.dao.table.ITableDao">

    <resultMap id="tableResultMap" type="com.zanpo.it.entity.Table">
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="primary_key" jdbcType="VARCHAR" property="primaryKey"/>
        <collection property="columns" javaType="java.util.ArrayList" ofType="com.zanpo.it.entity.Column">
            <result column="col_name" jdbcType="VARCHAR" property="name" />
            <result column="col_type" jdbcType="VARCHAR" property="type"/>
            <result column="col_key" jdbcType="VARCHAR" property="key"/>
            <result column="col_comment" jdbcType="VARCHAR" property="comment"/>
            <result column="col_nullAble" jdbcType="VARCHAR" property="nullAble"/>
        </collection>
    </resultMap>

    <select id="findAllTables" resultMap="tableResultMap" parameterType="java.lang.String">
        select
            t.table_name as name,
            t.table_comment as comment,
            (
            select
            kcu.COLUMN_NAME
            from information_schema.KEY_COLUMN_USAGE kcu
            where kcu.TABLE_SCHEMA = #{schema,jdbcType=VARCHAR}
            and kcu.TABLE_NAME = t.table_name
            and kcu.CONSTRAINT_NAME = 'PRIMARY'
            ) as primary_key,
            col.COLUMN_NAME as col_name,
            col.COLUMN_KEY as col_key,
            col.COLUMN_TYPE as col_type,
            col.COLUMN_COMMENT as col_comment,
            col.IS_NULLABLE as col_nullAble
        from information_schema.`TABLES` t
        left join information_schema.`COLUMNS` col on col.TABLE_NAME = t.TABLE_NAME
        where t.TABLE_SCHEMA = #{schema,jdbcType=VARCHAR}
    </select>
</mapper>