package ${packageName};

import java.util.List;
import ${entityPackage}.${firstUppercaseName};

#set($className="${firstUppercaseName}Dao")
/**
 * $className
 *
 * @author ${user}
 * @date ${now}
 */
public interface $className {

    int deleteByPrimaryKey(${primaryKey.javaType} ${primaryKey.firstLowercaseName});

    int insert($firstUppercaseName record);

    int insertSelective($firstUppercaseName record);

    $firstUppercaseName selectByPrimaryKey(${primaryKey.javaType} ${primaryKey.firstLowercaseName});

    int updateByPrimaryKeySelective($firstUppercaseName record);

    int updateByPrimaryKey($firstUppercaseName record);
}